@media (max-width:1800px){
	.mbr-fullscreen {
		padding-top: 5rem;
	}
}

@media (max-width:1560px) {
	.cid-qTkzRZLJNu .menu-logo {
		width: 400px;
	}
	.cid-qTkzRZLJNu .menu-logo .navbar-brand {
		margin-left: 3rem;
	}
	.cid-qTkzRZLJNu .menu-logo .navbar-brand .navbar-caption-wrap {
		display:none;
	}
}

@media (min-width:1500px) {
	.container-panel-table {
		max-width:1500px;
	}
}

@media (min-width:1480px) {
	.navbar-wrap {
		width: -webkit-calc(100% - 480px + 3rem);
		width: -moz-calc(100% - 480px + 3rem);
		width: calc(100% - 480px + 3rem);
	}
}

@media (max-width:1479px) {
	.cid-qTkzRZLJNu .menu-logo {
		width:20%;
	}
	.cid-qTkzRZLJNu .menu-logo .navbar-brand {
		margin-left: 1rem;
	}
	.header-right {
		width:400px;
		padding-right: 1rem;
	}
	.mbr-fullscreen {
		padding-top: 5rem;
	}
	.cid-qTkA127IK8 .mbr-section-title {
		font-size: 3rem;
	}
	.header-right .mbr-white {
		text-align: right;
	}
	.cid-qTkzRZLJNu .header-right .btn {
		padding: 0.4rem 1rem;
	}
}

@media (max-width:1199px) {
	.lang-header {
		margin-left:10px;
		padding-right:20px;
	}
	.header-right {
		width: 420px;
	}
	.footer .logo-footer {
		height:auto !important;
		max-width:100%;
	}
	.filter-section {
		margin-top: 15px;
	}
	.filter-section .dataTables_filter {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
	}
	.filter-section .filter-status {
		margin-right: 0;
	}
	.filter-section .filter-button {
		width: 100%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-justify-content: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 15px 0px 0px 0px;
	}
	.filter-section .filter-item .btn#filter_reset {
		margin-left:10px;
	}
}

@media (max-width:991px) {
	.header-right {
		width: auto;
		padding-right: 0;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 10px 0px;
		margin-top:10px;
	}
	.lang-header {
		margin-top: 10px;
	}
	.mbr-section-title {
		font-size: 2.4rem;
	}
	.cid-qTkzRZLJNu img {
		height: 2.5rem !important;
	}
	.index-section-btn {
		margin-top:50px;
	}
	.cid-qTkzRZLJNu .menu-logo {
		width:auto;
	}
	.header-right .mbr-white {
		margin-bottom:5px;
	}
	.lang-header {
		margin-left: 20px;
		margin-top:5px;
	}
	.footer .logo-footer {
		height:auto !important;
		max-width:100%;
	}
	.lang-wrap {
		right:8px;
	}
	.logform-title {
		display: block;
		text-align: center;
	}
	.loginform {
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}
	.header-right.not-logged-header .btn {
		margin: 0px auto;
	}
	.tab-pad80 {
		padding-top: 80px;
		padding-bottom: 30px;
	}
	.mbr-form .input-group-btn button[type="submit"] {
		padding:1rem 2rem;
	}
	.mbr-form .input-group-btn button {
		padding: 1rem 2rem;
	}
	.filter-section .filter-item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
		text-align: left;
	}
	.filter-section .filter-button {
		-webkit-justify-content: flex-start;
		-webkit-box-pack: flex-start;
		-ms-flex-pack: flex-start;
		justify-content: flex-start;
		margin-bottom:0;
	}
	.filter-toggle {
		display:block;
		margin-bottom:10px;
		padding: 5px 0px;
	}
	#form_filter {
		display:none;
	}
	.filter-section .dataTables_filter {
		background: #f3f3f3;
		padding: 15px;
		border-radius: 10px;
	}
	.container-panel-table .table-panel {
		display:block;
	}
	.container-panel-table .table-panel thead {
		display:none;
	}
	.container-panel-table .table-panel tbody {
		display:block;
	}
	.container-panel-table .table-panel tr {
		display: block;
		border-bottom: 10px solid #ddd;
	}
	.container-panel-table .table-panel td {
		display: block;
		text-align: right;
		border-top:0;
		border-bottom: 1px dotted #ccc;
	}
	.container-panel-table .table-panel td:last-child {
		border-bottom: 0;
	}
	.container-panel-table .table-panel td:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: bold;
		font-size:13px;
	}
	.cid-qTkzRZLJNu .navbar-toggleable-sm .navbar-collapse .navbar-nav {
		margin-top:15px;
	}
	.section-side-panel .sidebar_btn {
		background: rgb(249, 249, 249);
		background: #149dcc;
		top: 0px;
		padding: 2px;
		right: -60px;
		width: 60px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.sidebar_btn .line {
		stroke: #fff;
	}
	.header-right.not-logged-header form {
		text-align: center;
	}
	.rmb-link-header {
		margin-top: 10px;
	}
}

@media (min-width:768px) {
	.td-title-xs {
		display:none;
	}
	.title-all-checkbox {
		display:none;
	}
}

@media (max-width:767px) {
	.cid-qTkA127IK8 .mbr-section-title {
		font-size: 2rem;
		line-height: 1.5;
	}
	.cid-qTkAaeaxX5 {
		padding-bottom: 30px;
	}
	.cid-qTkAaeaxX5 .content > div:not(:last-child) {
		margin-bottom:1rem;
	}
	.cid-r13PedKtlK {
		padding-top: 60px;
		padding-bottom: 30px;
	}
	.cid-r13PedKtlK .container-table {
		width: 100%;
		max-width: 100%;
	}
	.cid-r13PedKtlK .scroll {
		width: 100%;
		max-width: 100%;
	}
	.btn {
		font-size: 0.90rem !important;
	}
	.cid-r13PedKtlK .table-object {
		display:block;
	}
	.cid-r13PedKtlK .table-object thead {
		display:block;
	}
	.cid-r13PedKtlK .table-object tr {
		display:block;
		border-bottom:10px solid #ddd;
		padding: 10px 3px;
	}
	.cid-r13PedKtlK .table-object td {
		display:block;
		border-top:none;
		padding-top: 7px;
		padding-bottom: 7px;
		padding-left: -webkit-calc(45px + .75rem);
		padding-left: -moz-calc(45px + .75rem);
		padding-left: calc(45px + .75rem);
	}
	.cid-r13PedKtlK .table-object .item-checkbox {
		width: 40px;
		display: inline-block;
		padding-left: .75rem;
	}
	.custom-control-label::before {
		width: 1.25rem;
		height: 1.25rem;
	}
	.custom-control-label::after {
		width: 1.25rem;
		height: 1.25rem;
	}
	.cid-r13PedKtlK .table-object .item-name {
		display: inline-block;
		width: -webkit-calc(100% - 45px);
		width: -moz-calc(100% - 45px);
		width: calc(100% - 45px);
		padding-left: .75rem;
	}
	.td-title-xs {
		display:block;
		font-weight: bold;
		margin-bottom: 7px;
	}
	.edit-link {
		display: inline-block;
		background: #149dcc;
		color: #fff;
		padding: 8px 14px;
		border-radius: 20px;
		font-size: 14px;
	}
	.title-all-checkbox {
		display:inline-block;
		font-weight: bold;
	}
	.cid-r13PedKtlK .head-item {
		display:none;
	}
	.cid-r13PedKtlK .head-item-checkbox {
		display:inline-block;
		width: 100%;
	}
	.tab-pad80 .custom-checkbox {
		display: inline-block;
		vertical-align: middle;
	}
	.title-all-checkbox {
		vertical-align: middle;
		margin-left: 17px;
	}
	.mbr-section-title {
		font-size: 2rem;
		line-height:1.5;
	}
	.panel-view-btn {
		height:auto;
	}
	.panel-view-btn .btn {
		padding:1rem;
	}
	.mbr-form .input-group-btn button[type="submit"] {
		display:block;
		margin-left: auto;
		margin-right: auto;
	}
	.mbr-form .input-group-btn button {
		display: block;
		margin-left: auto !important;
		margin-right: auto !important;
		margin-top: 10px !important;
	}
	.section-table-panel {
		padding-top:65px;
	}
	.cid-r13PedKtlK .section-wrapper {
		padding: 15px 15px 0 15px;
	}
	.section-side-panel .sidebar_btn .navbar-item {
		background: #fff;
		height: 2px;
	}
	.section-side-panel .sidebar_btn .navbar-item:last-child {
		margin-bottom:0;
	}
	.section-table-panel .container-table {
		padding:0;
	}
	.cid-r13PedKtlK table.table-panel td {
		border-top:0;
	}
	.cid-qTkzRZLJNu .navbar-toggleable-sm {
		min-height: 65px;
	}
	.cid-qTkzRZLJNu button.navbar-toggler {
		top: 1rem;
	}
	.cid-qTkzRZLJNu .menu-logo .navbar-brand {
		min-height: 3rem;
	}
	.table-wrapper-more .container {
		max-width:100%;
	}
	.page-about {
		padding-top: 4rem;
		padding-bottom: 0rem;
		align-items: normal;
		-webkit-align-items: normal;
	}
	.section-about {
		border-radius:0;
		width: 100%;
		max-width: 100%;
	}
	.title-about {
		font-size: 2rem;
	}
	.page-about .mbr-fullscreen-back {
		background-size: cover;
	}
	.table-panel tr {
		display: block;
		border-bottom: 10px solid #ddd;
	}
	.table-panel td {
		display: inline-block;
		width:100%;
		text-align: right;
		border-top:0;
		border-bottom: 1px dotted #ccc;
	}
	.table-panel td:last-child {
		border-bottom: 0;
	}
	.table-panel td:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: bold;
		font-size:13px;
	}
	.page-404 {
		min-height: 36vh;
	}
	.page-help .mbr-section-title {
		margin-top: 30px;
		margin-bottom: 20px;
	}
}

@media(max-width:530px) {
	.section-install {
		width:100%;
	}
}

@media (max-width:480px) {
	.index-section-btn {
		margin-top: 20px;
	}
	.cid-qTkA127IK8 .mbr-section-title {
		font-size: 1.5rem;
	}
	.mbr-fullscreen {
		min-height: 85vh;
	}
	.cid-qTkAaeaxX5 .content > div:not(:last-child) {
		margin-bottom: 0rem;
	}
	.footer .pb-3, .footer .py-3 {
		padding-bottom: 0rem!important;
	}
	.cid-qTkAaeaxX5 .footer-lower .copyright {
		margin-bottom: 0rem;
	}
	.mbr-section-title {
		font-size: 1.6rem;
	}
	div.navigation {
		text-align:center;
	}
	.nav_count {
		float: none;
		display: block;
		text-align: center;
		margin-bottom: 15px;
	}
	.filter-section .filter-item {
		text-align:center;
	}
	.filter-section .filter-item span {
		display: block;
		margin-bottom: 5px;
	}
	.filter-section .filter-item span:last-child {
		margin-bottom: 0;
	}
	.cid-r13PedKtlK .dataTables_filter .filter-item input {
		display: block;
		margin: 0 auto;
	}
	.filter-section .filter-button {
		-webkit-justify-content: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.title-about {
		font-size:1.6rem;
	}
	.page-404 {
		min-height: 36vh;
	}
	.sidebar_btn {
		display:none;
	}
	.sidebar_btn.sidebar_nav {
		left: 5px;
		right: auto;
		top: 5px;
	}
	.section-side-panel {
		width:100%;
		transform: translate(-100%, 0px);
		padding-bottom:65px;
		z-index: 2000;
	}
	.sidebar_btn {
		top: -60px;
		background: transparent;
		padding: 0px;
		right: -60px;
		width: 55px;
		position:fixed;
	}
	.sidebar_btn.active .hamRotate180 {
		width: 50px !important;
	}
	.sidebar_btn .line {
		stroke-width: 5.5px;
	}
	.cid-qTkzRZLJNu .menu-logo {
		margin: 0 auto;
	}
	.places-wrapper {
		padding: 10px 15px;
	}
	.place-item-all {
		padding: 7px 10px;
	}
	#form_filter .dropdown-menu.show {
		max-width:100%;
	}
	.sidebar_btn.sidebar_nav {
		display:block;
	}
}

@media (max-width:360px) {
	.filter-section .filter-button {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.filter-section .filter-item .btn#filter_send {
		margin-bottom: 10px;
	}
	.filter-section .filter-item .btn#filter_reset {
		margin-left: 0;
	}
	.cid-qTkzRZLJNu img {
		height: 2rem !important;
	}
}
