/*!
 * Mobirise v4 theme (https://mobirise.com/)
 * Copyright 2017 Mobirise
 */

@import url(font-awesome.min.css);

 section {
  background-color: #eeeeee; }

section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word; }

a.mbr-iconfont:hover {
  text-decoration: none; }

.article .lead p, .article .lead ul, .article .lead ol, .article .lead pre, .article .lead blockquote {
  margin-bottom: 0; }

a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer; }
  a, a:hover {
    text-decoration: none; }

figure {
  margin-bottom: 0; }

body {
  color: #232323; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4 {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word; }

b, strong {
  font-weight: bold; }

blockquote {
  padding: 10px 0 10px 20px;
  position: relative;
  border-left: 2px solid;
  border-color: #ff3366; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition-delay: 9999s;
  transition-property: background-color, color; }

textarea[type="hidden"] {
  display: none; }

body {
  position: relative; }

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  section .mbr-background-video,
  section .mbr-background-video-preview {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0; }

.hidden {
  visibility: hidden; }

.mbr-z-index20 {
  z-index: 20; }

/*! Base colors */
.mbr-white {
  color: #ffffff; }

.mbr-black {
  color: #000000; }

.mbr-bg-white {
  background-color: #ffffff; }

.mbr-bg-black {
  background-color: #000000; }

/*! Text-aligns */
.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

@media (max-width: 767px) {
  .align-left, .align-center, .align-right, .mbr-section-btn, .mbr-section-title {
    text-align: center; } }
/*! Font-weight  */
.mbr-light {
  font-weight: 300; }

.mbr-regular {
  font-weight: 400; }

.mbr-semibold {
  font-weight: 500; }

.mbr-bold {
  font-weight: 700; }

/*! Media  */
.media-size-item {
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -o-flex: 1 1 auto;
  flex: 1 1 auto; }

.media-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%; }

.media-container-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start; }
  .media-container-row .media-size-item {
    width: 400px; }

.media-container-column {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .media-container-column > * {
    width: 100%; }

@media (min-width: 992px) {
  .media-container-row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; } }
figure {
  overflow: hidden; }

figure[mbr-media-size] {
  transition: width 0.1s; }

.mbr-figure img, .mbr-figure iframe {
  display: block;
  width: 100%; }

.card {
  background-color: transparent;
  border: none; }

.card-img {
  text-align: center;
  flex-shrink: 0; }

.media {
  max-width: 100%;
  margin: 0 auto; }

.mbr-figure {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center; }

.media-container > div {
  max-width: 100%; }

.mbr-figure img, .card-img img {
  width: 100%; }

@media (max-width: 991px) {
  .media-size-item {
    width: auto !important; }

  .media {
    width: auto; }

  .mbr-figure {
    width: 100% !important; } }
/*! Buttons */
.mbr-section-btn {
  font-size: 0; }

nav .mbr-section-btn {
  margin-left: 0rem;
  margin-right: 0rem; }

/*! Btn icon margin */
.btn .mbr-iconfont, .btn.btn-sm .mbr-iconfont {
  cursor: pointer;
  margin-right: 0.5rem; }

.btn.btn-md .mbr-iconfont, .btn.btn-md .mbr-iconfont {
  margin-right: 0.8rem; }

.mbr-regular {
  font-weight: 400; }

.mbr-semibold {
  font-weight: 500; }

.mbr-bold {
  font-weight: 700; }

[type="submit"] {
  -webkit-appearance: none; }

/*! Full-screen */
.mbr-fullscreen .mbr-overlay {
  min-height: 100vh; }

.mbr-fullscreen {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  -webkit-align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
	position:relative;
}

/*! Map */
.map {
  height: 25rem;
  position: relative; }
  .map iframe {
    width: 100%;
    height: 100%; }

/* Form */
.form-asterisk {
  font-family: initial;
  position: absolute;
  top: -2px;
  font-weight: normal; }

/*! Scroll to top arrow */
.mbr-arrow-up {
  bottom: 25px;
  right: 90px;
  position: fixed;
  text-align: right;
  z-index: 5000;
  color: #ffffff;
  font-size: 32px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg); }

.mbr-arrow-up a {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  height: 60px;
  width: 60px;
  outline-style: none !important;
  position: relative;
  text-decoration: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
  text-align: center; }
  .mbr-arrow-up a:hover {
    background-color: rgba(0, 0, 0, 0.4); }
  .mbr-arrow-up a i {
    line-height: 60px; }

.mbr-arrow-up-icon {
  display: block;
  color: #fff; }

.mbr-arrow-up-icon::before {
  content: "\203a";
  display: inline-block;
  font-family: serif;
  font-size: 32px;
  line-height: 1;
  font-style: normal;
  position: relative;
  top: 6px;
  left: -4px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

/*! Arrow Down */
.mbr-arrow {
  position: absolute;
  bottom: 45px;
  left: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .mbr-arrow > a {
    display: inline-block;
    text-decoration: none;
    outline-style: none;
    -webkit-animation: arrowdown 1.7s ease-in-out infinite;
    animation: arrowdown 1.7s ease-in-out infinite; }
    .mbr-arrow > a > i {
      position: absolute;
      top: -2px;
      left: 15px;
      font-size: 2rem; }

@keyframes arrowdown {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px); }
  50% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px); }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px); } }
@-webkit-keyframes arrowdown {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px); }
  50% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px); }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px); } }
@media (max-width: 500px) {
  .mbr-arrow-up {
    left: 50%;
    right: auto;
    transform: translateX(-50%) rotate(180deg);
    -webkit-transform: translateX(-50%) rotate(180deg); } }
/*Gradients animation*/
@keyframes gradient-animation {
  from {
    background-position: 0% 100%;
    animation-timing-function: ease-in-out; }
  to {
    background-position: 100% 0%;
    animation-timing-function: ease-in-out; } }
@-webkit-keyframes gradient-animation {
  from {
    background-position: 0% 100%;
    animation-timing-function: ease-in-out; }
  to {
    background-position: 100% 0%;
    animation-timing-function: ease-in-out; } }
.bg-gradient {
  background-size: 200% 200%;
  animation: gradient-animation 5s infinite alternate;
  -webkit-animation: gradient-animation 5s infinite alternate; }

.menu .navbar-brand {
  display: -webkit-flex; }
  .menu .navbar-brand span {
    display: flex;
    display: -webkit-flex; }
  .menu .navbar-brand .navbar-caption-wrap {
    display: -webkit-flex; }
  .menu .navbar-brand .navbar-logo img {
    display: -webkit-flex; }
@media (min-width: 768px) and (max-width: 991px) {
  .menu .navbar-toggleable-sm .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; } }
@media (min-width: 992px) {
  .menu .navbar-nav.nav-dropdown {
    display: -webkit-flex; }
  .menu .navbar-toggleable-sm .navbar-collapse {

    display: -webkit-flex !important; } }

/*# sourceMappingURL=style.css.map */
.engine {
	position: absolute;
	text-indent: -2400px;
	text-align: center;
	padding: 0;
	top: 0;
	left: -2400px;
}

.map {
	width: 100%;
	height: 600px;
}

.loginform
{
  background-color: #f5f5f5;
  box-shadow: none;
  /* color: #565656; */
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  padding: 5px;
  width: 22%;
  border-radius: 25px;
}

.loginbutton
{
	background-color: #149dcc !important;
    border-color: #149dcc !important;
    color: #ffffff !important;
	transition: all 0.3s ease-in-out;
	  border-radius: 25px;
	      overflow: visible;
}
 .errormsg {
    text-align: center;
 }

.text-upper {
	text-transform:uppercase;
}

.menu .nav-item.active a {
	color: #149dcc !important;
}

.company-form {
	max-width: 750px;
    margin: 0 auto;
}

.mbr-section .message-title {
	position:absolute;
	width:100%;
}

.mbr-section .error-title {
	color: #f00;
    text-shadow: 0px 1px 10px #fff;
}

.mbr-block-title {
	height:47px;
}

.tab-pad80  .custom-checkbox {
	margin-top:-2px;
}

.table-hover tbody tr:hover {
	background-color: rgba(0, 0, 0, 0.03);
}

#table1-4.cid-r13PedKtlK table th:hover {
	background:transparent;
}

.panel-view {
	border-radius: 100px !important;
    padding: 1rem 3rem;
}

.add-object {
	border-radius: 100px !important;
    padding: 1rem 3rem;
}

#cancel_btn {
	margin:0 10px;
}

.panel-view-btn {
	text-align:center;
	padding:30px 0px 0px 0px;
	height:93.78px;
}

.section-side-panel {
	position: fixed;
    width: 370px;
    height: 100%;
    background: #fff;
    z-index: 1;
	/*left:-370px;*/
	transform:translate(-370px, 0px);
    background: #149dcc;
    color: #ffffff;
}

.section-side-panel .sidebar_btn {
	position: absolute;
    right: -65px;
    top: 0px;
    padding: 5px;
    width: 65px;
    background: transparent;
}

.section-side-panel .sidebar_btn .navbar-item {
  background: #149dcc;
  height: 5px;
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 5px;
}

.section-side-panel .sidebar_btn.closed {
	display:none;
}

.section-side-panel .navbar-toggler-icon {
	background-image: url(../../images/button-menu.svg);
}

.places-wrapper {
  overflow-y:auto;
  padding: 10px 20px;
  height:100%;
}

.place-item {
  margin-bottom: 5px;
  padding: 5px 10px;
}

.place-item:hover {
	background: #0c93c1;
}

.place-item.place-item-open {
	background: #0c93c1;
}

.place-item-all {
	padding: 7px 12px;
    background: #0c93c1;
    border-radius: 5px;
}

.place-item .custom-checkbox {
  display: inline-block;
  vertical-align: top;
}

.place-item .place-name {
  display: inline-block;
  vertical-align: top;
  width: -webkit-calc(100% - 24px);
  width: -moz-calc(100% - 24px);
  width: calc(100% - 24px);
  padding-right:20px;
  position:relative;
  cursor:pointer;
  padding-left:5px;
}

.place-item-all .place-name {
	width: -webkit-calc(100% - 24px);
  width: -moz-calc(100% - 24px);
  width: calc(100% - 24px);
  margin-left:-5px;
  font-weight:bold;
}

.section-side-panel .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #001fff;
}

.section-side-panel .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #001fff;
}

.device-list {
	padding-left: 29px;
    padding-top: 10px;
	font-size: 15px;
    font-weight: 100;
	display:none;
}

.device-item {
	padding: 3px 0px;
}

.device-item a {
	color:#fff;
}

.device-item a:hover {
	color:#fff;
}

.fa-arrow {
	float: right;
    margin-top: 2px;
    font-size: 20px;
	position: absolute;
    top: 0;
    right: 0;
}

.lang-header {
    margin-right: 0px;
    position: relative;
    padding-right: 25px;
	margin-left:30px;
}

.lang-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lang-item {
    padding: 8px 0px;
    cursor: pointer;
    font-size: 14px;
}

.flag {
    width: 35px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.flag.ru {
    background: url(../../images/ru.png) no-repeat;
}

.flag.en {
    background: url(../../images/en.png) no-repeat;
}

.text-lang {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin-left: 10px;
}

.arrow-lang {
    display: inline-block;
    width: 14px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -webkit-calc(50% - 9px);
    top: -moz-calc(50% - 9px);
    top: calc(50% - 9px);
}

.arrow-lang:before {
    content: "";
    display: inline-block;
    background: url(../../images/arrow.png) no-repeat;
    background-size: contain;
    width: 9px;
    height: 5px;
    position: absolute;
    top: -webkit-calc(50% - 2.5px);
    top: -moz-calc(50% - 2.5px);
    top: calc(50% - 2.5px);
    left: -webkit-calc(50% - 4.5px);
    left: -moz-calc(50% - 4.5px);
    left: calc(50% - 4.5px);
}

.lang-wrap {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 60px;
    background: #fff;
    padding: 5px 0px;
    -webkit-box-shadow: 1px 1px 10px #cfcbcd;
    -moz-box-shadow: 1px 1px 10px #cfcbcd;
    box-shadow: 1px 1px 10px #cfcbcd;
    z-index: 1;
	right: 11px;
}

.lang-wrap .lang-item {
    padding: 5px 12px;
}

.lang-wrap .text-lang {
    color: #10110b;
}

.navbar-wrap {
	width: auto;
    display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header-right {
	width: 480px;
    display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
    -webkit-justify-content: flex-end;
	-webkit-box-pack: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
	padding-right: 3rem;
}

.header-right.not-logged-header {
	width:auto;
}

.header-right.not-logged-header form {
	text-align:right;
}

.cid-qTkzRZLJNu .menu-logo {
	width: 20%;
}

.cid-qTkzRZLJNu .navbar-toggleable-sm .navbar-collapse {
	width: -webkit-calc(80% - 5rem);
	width: -moz-calc(80% - 5rem);
	width: calc(80% - 5rem);
}

.mbr-fullscreen-back {
	display:block;
	position:absolute;
	height:100%;
	width:100%;
	background-image: url("../../../assets/images/mbr-1920x1153.jpg");
	/*-webkit-filter: blur(1px) grayscale(10%) sepia(10%);
	filter: blur(1px) grayscale(10%) sepia(10%);*/
}

.mbr-fullscreen-back:before {
	content:"";
	display:block;
	background-color: #00000038;
	position:absolute;
	height:100%;
	width:100%;
	background-image:url(../../../assets/images/index-banner-pattern.png);
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
	padding-right: 30px;
}

.filter-section {
	width:100%;
	margin-top:30px;
	margin-bottom:10px;
}

.filter-section .dataTables_filter {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
    width: 100%;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
    align-items: center;
}

.filter-section .filter-item {
	float: left;
    margin-right: 20px;
}

.filter-section .filter-item:last-child {
	margin-right:0;
}

.filter-section .filter-item .btn {
	margin:0;
}

.filter-status .dropdown-toggle {
	display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	margin-left:0;
	min-width: 110px;
	position: relative;
}

.dropdown-toggle::after {
	position: absolute;
    right: 4px;
	top: -webkit-calc(50% - 2.4px);
	top: -moz-calc(50% - 2.4px);
    top: calc(50% - 2.4px);
}

.mbr-dev-title {
	margin-top:50px;
}

.nav_count {
	float: left;
}

.table-wrapper-more > .container {
	padding:0;
}

.table-wrapper-more > .container > .row {
	margin:0;
}

#more_content {
	padding:0;
}

.page-index  .btn-site-company {
	background:#fff;
	color:#333;
}

.index-section-btn {
	margin-top:100px;
}

.filter-toggle {
	display:none;
	font-size: 15px;
    font-weight: bold;
}

.filter-toggle .smb:before {
	content:attr(data-title-plus);
}

.filter-toggle .smb.ndash:before {
	content:attr(data-title-minus);
	margin: 0 2.3px;
}

.section-about {
	padding: 30px;
	background:rgba(51, 51, 51, 0.5294117647058824);
    background: #33333387;
    border-radius: 20px;
}

.title-about {
	margin-bottom:38px;
	line-height: 1.3;
}

#form_filter .dropdown-menu.show {
	max-height: 365px;
  overflow-y: auto;
	box-shadow: 2px 2px 7px #ddd;
  width:auto;
  max-width: 300px;
}

#dropdown_status {
	white-space: nowrap;
    max-width: 140px;
	width:140px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dropdown-item.hover-item {
	background-color: #f1f1f1;
}

.page-404 {
	min-height: 70vh;
}

.title-404 {
	font-size: 5rem;
	margin-bottom:38px;
}

.section-404 {
	font-size:1.5rem;
}

.sidebar_btn .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 300ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sidebar_btn.active .hamRotate {
  transform: rotate(45deg);
}
.sidebar_btn.active .hamRotate180 {
  transform: rotate(180deg);
}
.sidebar_btn .line {
  fill:none;
  transition: stroke-dasharray 300ms, stroke-dashoffset 300ms;
  stroke:#149dcc;
  stroke-width:7.5;
  stroke-linecap:round;
}
.sidebar_btn .ham5 .top {
  stroke-dasharray: 40 82;
}
.sidebar_btn .ham5 .bottom {
  stroke-dasharray: 40 82;
}
.sidebar_btn.active .ham5 .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.sidebar_btn.active .ham5 .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}

.sidebar_btn.sidebar_nav {
	display:none;
}

#dropdown_company {
	width: 100%;
    border-radius: 5px;
	-webkit-justify-content: flex-start;
	-webkit-box-pack: flex-start;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
	padding: 1rem 1.5rem;
}

#dropdown_company:after {
	right: 15px;
}

.dropdown-company .dropdown-menu {
	width: 100%;
}

.page-help img {
	max-width:100%;
	border: 1px solid #ddd;
}

.page-help .mbr-section-title {
	margin-top: 70px;
    margin-bottom: 30px;
}

.remember-form {
	text-align:center;
}

.remember-form input[type=text], .remember-form input[type=email], .remember-form input[type="password"] {
	padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #ddd;
}

.remember-form input[type=submit] {
	padding: 8px 25px;
}

.mess-remember {
	text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.mess-remember.mess-success {
	color: #2fbf00;
}

.mess-remember.mess-err {
	color: #f00;
}

.page-install {
	padding: 30px 0px;
}

.page-install > .container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.section-install {
	padding: 20px 0px;
	max-width:530px;
	width:530px;
}

.form-install-bd {
	padding-top: 20px;
}

.form-install-bd .col-md-4.multi-horizontal {
	max-width: 100%;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	-webkit-box-flex: 0 0 100%;
	flex: 0 0 100%;
}

.err-text {
	color:#f00;
	text-align:center;
}

.success-text {
	color:#20b534;
	text-align:center;
}

.form-control.err-field, .err-field  {
	border-color:#f00 !important;
}

.form-btn-group {
	text-align:center;
}

.checkbox-unistall {
	margin-top: 5px;
	margin-bottom: 20px;
}

.checkbox-unistall .custom-checkbox {
	display: inline-block;
	vertical-align: top;
}

.header-right .btn {
	white-space: nowrap;
}

#remember_set {
  width: 530px;
  margin: 0 auto;
}

#dropdown_host, #dropdown_secure {
  width: 100%;
  border-radius: 5px;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  padding: 1rem 1.5rem;
}

#dropdown_host:after, #dropdown_secure:after {
  right: 15px;
}

.dropdown-menu.show {
  width:100%;
}

.form-group-host {
  margin-bottom: 5px;
}

.example-link {
  display: block;
  padding: 0 15px;
  width: 100%;
  margin-bottom: 15px;
}

.example-block {
  display: none;
  padding: 0 15px;
  margin-bottom: 15px;
}

.back-link {
  display: block;
  margin-top: 20px;
  font-size: 1rem;
}

.remember-link {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
}

.remember-new-form {
  margin-top: 15px;
}

.rmb-link-header {
  font-size: 12px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.remember-text {
  text-align: center;
  margin-bottom: 25px;
}

.leaflet-popup-content ul {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 10px;
}

#before-load i {
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -35px 0 0 -35px;
}

.map .leaflet-marker-icon, .map .leaflet-marker-shadow, .map .leaflet-image-layer, .map .leaflet-pane > svg path, .map .leaflet-tile-container {
    pointer-events: auto;
    cursor:pointer;
}
.map.leaflet-fade-anim .leaflet-tile {
    cursor: grab;
}
.map .marker-cluster {
  overflow: hidden;
}
.map .marker-cluster div {
  width: 23px;
  height: 23px;
  margin-left: 9px;
  margin-top: 8px;
  background-color: #fff;
}
.map .marker-cluster .cluster-inner-block {
  position: relative;
  z-index: 1;
}
.map .marker-cluster span {
  line-height: 25px;
}
.map.leaflet-container a {
  color: #a0a0a0;
}
.map .marker-cluster .color-gray {
  background-color: #b3b3b3;
}
.map .marker-cluster .color-red {
  background-color: #ff0000;
}
.map .marker-cluster .color-green {
  background-color: #00d400;
}
.map .marker-cluster .sector {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform-origin: left bottom;
}
.map .leaflet-popup-content .link-color-red {
  color:#ff0000;
}
.map .leaflet-popup-content .link-color-green {
  color:#00d400;
}

/*Marker clusters*/
.map .marker-cluster-pie g.arc{
  fill-opacity: 0.5;
}
.map .marker-cluster-pie-label {
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/*Markers*/
.map .marker {
  width: 18px;
  height: 18px;
  border-width: 2px;
  border-radius:10px;
  margin-top: -10px;
  margin-left: -10px;
  border-style: solid;
  fill: #CCC;
  stroke: #444;
  background: #CCC;
  border-color: #444;
}
.map .marker div{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/*marker categories*/
.map .category-1, .map .category-red {
  fill: #ff0000;
  stroke: #800;
  background: #ff0000;
  border-color: #800;
}
.map .category-4, .map .category-green {
  fill: #00d400;
  stroke: #070;
  background: #00d400;
  border-color: #070;
}
.map .category-6, .map .category-gray {
  fill: #b3b3b3;
  stroke: #444;
  background: #b3b3b3;
  border-color: #444;
}

/*Popup*/
.map .map-popup span.heading {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}
.map .map-popup span.attribute {
  display: block;
}
.map .map-popup span.label {
  font-weight: bold;
}

/*Message*/
.map .message-warn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 30px;
  text-align: center;
  color:#fff;
  background-color: #ff000085;
  border-bottom-left-radius: 5px;
  border:1px solid #fff;
  min-width: 200px;
  font-size: 14px;
  z-index: 999;
  display: none;
  cursor: default;
}

.map .message-warn p {
  margin-bottom: 5px;
}

.map .message-warn p:last-child {
  margin-bottom: 0;
}

.map .message-warn a {
  color:#fff;
  text-decoration: none;
}

.map .message-close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 2px;
  right: 2px;
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
}

.map .message-close:before {
  content: "";
  height: 2px;
  width: 15px;
  border-radius: 3px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
  left: 2px;
  background-color: #ff000085;
}

.map .message-close:after {
  content: "";
  height: 2px;
  width: 15px;
  border-radius: 3px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
  left: 2px;
  background-color: #ff000085;
}

.text-about {
  text-align: left;
  padding:0 30px;
}

.text-about ul {
  list-style-type: square;
  margin-bottom: 1rem;
}

.text-about p {
  margin-bottom: 0.5rem;
}

.page-about {
  margin-top:3rem;
}

.section-wrapper .navigation {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

.navbar-points {
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	text-align: left;
	padding-top: .4rem;
}

.point-item, .point-item-img {
	text-align: left;
    margin-bottom: 10px;
}

.point-item input, .point-item-img input {
	width:178px;
}

.point-image {
	margin-bottom: 10px;
  padding-left: 18px;
}

.point-delete {
	padding: 3px 5px;
	cursor:pointer;
	color: #9c9c9c;
}

.point-delete:hover {
	color: #8a8a8a;
}

.point-title, .point-title-img {
	width: 15px;
    display: inline-block;
    font-weight: bold;
}

.point-title[color-point=red].focus, .point-title-img[color-point=red].focus {
	color:#ff5f5f;
}

.point-title[color-point=blue].focus, .point-title-img[color-point=blue].focus {
	color:#149dcc;
}

.point-title[color-point=green].focus, .point-title-img[color-point=green].focus {
	color:#15c51b;
}

.navbar-points #upload {
	margin-left: 18px;
}

.point-inp[color-point=red].focus, .point-inp-img[color-point=red].focus {
	border:2px solid #ff5f5f;
}

.point-inp[color-point=blue].focus, .point-inp-img[color-point=blue].focus {
	border:2px solid #149dcc;
}

.point-inp[color-point=green].focus, .point-inp-img[color-point=green].focus {
	border:2px solid #15c51b;
}

.point-inp.focus:focus, .point-inp-img.focus:focus {
	outline:0;
}

#map[cursor-map=red] {
	cursor: url("../../images/marker-icon-2-red.png") 10 33, default;
}

#map[cursor-map=blue] {
	cursor: url("../../images/marker-icon.png") 10 33, default;
}

#map[cursor-map=green] {
	cursor: url("../../images/marker-icon-3.png") 10 33, default;
}

#map[cursor-map=red].leaflet-fade-anim .leaflet-tile {
	cursor: url("../../images/marker-icon-2-red.png") 10 33, default;
}

#map[cursor-map=blue].leaflet-fade-anim .leaflet-tile {
	cursor: url("../../images/marker-icon.png") 10 33, default;
}

#map[cursor-map=green].leaflet-fade-anim .leaflet-tile {
	cursor: url("../../images/marker-icon-3.png") 10 33, default;
}

.hint-latlng {
	opacity:0;
	position: absolute;
    left: 0;
    bottom: 0;
    background: #f9f9f9;
    z-index: 500;
    padding: 5px 10px;
    font-size: 14px;
    color: #3a3a3a;
	transition:.5s;
	height:30px;
}

#map:hover .hint-latlng.hint-show {
	opacity:1;
}

.marker-image {
	/*background-image: url("../../images/marker-icon-2-red.png");
	background-size: cover;*/
	width:20px;
	height:33px;
	position:absolute;
	margin-top:-33px;
	margin-left:-10px;
}

.marker-image:before {
	content:"";
	background-image: url("../../images/marker-icon-2-red.png");
	background-size: cover;
	width:20px;
	height:33px;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}

.marker-image:after {
	content:"";
	position:absolute;
	background-image:url("/js/leaflet/images/marker-shadow.png");
	background-size:cover;
	width:41px;
	height:41px;
	margin-top: -8px;
    margin-left: -3px;
	top:0;
	left:0;
}

.form-group {
  position: relative;
}

#dropdown_user_role {
  width: 100%;
  border-radius: 5px;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  padding: 1rem 1.5rem;
}

#dropdown_user_role:after {
  right: 15px;
}

.dropdown .dropdown-toggle {
  border: 1px solid #d2d2d2;
}

.help-title {
  display: inline-block;
  background-color: #eee;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  text-align: center;
  position: absolute;
  right: -35px;
  top: 23px;
  color: #757575;
  border: 1px solid #757575;
  cursor: default;
  font-size: 15px;
}

#image_upload_modal {
  height:100%;
  display: none;
}

.image-content {
  cursor:default;
  display:inline-block;
  position:relative;
  border:1px solid #ddd;
}

.image-content img {
  max-width:100%;
}

.title-point-img {
  font-weight: bold;
  margin-bottom: 10px;
}

#upload_img {
  margin-left:0;
}

.navbar-points > .title-point-img {
  padding-left: 18px;
}

#upload_map_img {
  margin-left: 18px;
}

.buttons-block {
  padding-top:20px;
}

.image-map {
  position: relative;
}

.image-map:hover .hint-latlng.hint-show {
  opacity: 1;
}

.fancybox-slide--html .fancybox-close-small {
  padding: 5px;
  width: 48px;
  height: 48px;
}